
<!-- Main Content Starts -->

<main>
	<!-- <center> -->
	<div style="text-align: center; background-color: black; color: white;">
		<br><br>
		<h1>Trending Wallpapers</h1>
		<div class="main-container">
			<div class="container-fluid row myImg" data-aos="fade-up" data-aos-delay="200">
					<div class="column col-lg-4 col-md-6 col-sm-12 mt-3 ima">
						<a href="../../assets/images/dark-desktop.jpg" class="lsb-preview" data-lsb-group="gallery1" >
							<img src="../../assets/images/dark-desktop.jpg" />
						</a>
						<a href="../../assets/images/wallpaper2.jpg" class="lsb-preview" data-lsb-group="gallery1" >
							<img src="../../assets/images/wallpaper2.jpg" />
						</a>
						<a href="../../assets/images/dslr.jpg" class="lsb-preview" data-lsb-group="gallery1" >
							<img src="../../assets/images/dslr.jpg" />
						</a>
						<a href="../../assets/images/avengers-age-of-ultron.jpg" class="lsb-preview" data-lsb-group="gallery1">
							<img src="../../assets/images/avengers-age-of-ultron.jpg" />
						</a>
						<a href="../../assets/images/avengers-age-of-ultron.jpg" class="lsb-preview" data-lsb-group="gallery1">
							<img src="../../assets/images/avengers-age-of-ultron.jpg" />
						</a>
						<a href="../../assets/images/avengers-age-of-ultron.jpg" class="lsb-preview" data-lsb-group="gallery1">
							<img src="../../assets/images/avengers-age-of-ultron.jpg" />
						</a>
						<a href="../../assets/images/wallpaper.jpg" class="lsb-preview" data-lsb-group="gallery1">
							<img src="../../assets/images/wallpaper.jpg" />
						</a>
						<a href="../../assets/images/avengers-age-of-ultron.jpg" class="lsb-preview" data-lsb-group="gallery1">
							<img src="../../assets/images/avengers-age-of-ultron.jpg" />
						</a>
				</div>

				<div class="column col-lg-4 col-md-6 col-sm-12 mt-3 ima" data-aos="fade-up" data-aos-delay="400">
						<a href="../../assets/images/avengers-age-of-ultron.jpg" class="lsb-preview" data-lsb-group="gallery1" >
							<img src="../../assets/images/avengers-age-of-ultron.jpg" />
						</a>
						<a href="../../assets/images/dslr.jpg" class="lsb-preview" data-lsb-group="gallery1" >
							<img src="../../assets/images/dslr.jpg" />
						</a>
						<a href="../../assets/images/dark-desktop.jpg" class="lsb-preview" data-lsb-group="gallery1" >
							<img src="../../assets/images/dark-desktop.jpg" />
						</a>
						<a href="../../assets/images/AWP.jpg" class="lsb-preview" data-lsb-group="gallery1">
							<img src="../../assets/images/AWP.jpg" />
						</a>
						<a href="../../assets/images/fingerprint.jpg" class="lsb-preview" data-lsb-group="gallery1">
							<img src="../../assets/images/fingerprint.jpg" />
						</a>
						<a href="../../assets/images/avengers-age-of-ultron.jpg" class="lsb-preview" data-lsb-group="gallery1">
							<img src="../../assets/images/avengers-age-of-ultron.jpg" />
						</a>
						<a href="../../assets/images/Avengers-Endgame-1400x1400.jpg" class="lsb-preview" data-lsb-group="gallery1">
							<img src="../../assets/images/Avengers-Endgame-1400x1400.jpg" />
						</a>
						<a href="../../assets/images/Avengers-Score.jpg" class="lsb-preview" data-lsb-group="gallery1">
							<img src="../../assets/images/Avengers-Score.jpg" />
						</a>
				</div>

				<div class="column col-lg-4 col-md-6 col-sm-12 mt-3 ima" data-aos="fade-up" data-aos-delay="600">
						<a href="../../assets/images/avengers-age-of-ultron.jpg" class="lsb-preview" data-lsb-group="gallery1" >
						<img src="../../assets/images/avengers-age-of-ultron.jpg" />
						</a>
						<a href="../../assets/images/dark-desktop.jpg" class="lsb-preview" data-lsb-group="gallery1" >
							<img src="../../assets/images/dark-desktop.jpg" />
						</a>
						<a href="../../assets/images/dslr.jpg" class="lsb-preview" data-lsb-group="gallery1" >
							<img src="../../assets/images/dslr.jpg" />
						</a>
						<a href="../../assets/images/avengers-age-of-ultron.jpg" class="lsb-preview" data-lsb-group="gallery1">
							<img src="../../assets/images/avengers-age-of-ultron.jpg" />
						</a>
						<a href="../../assets/images/mcu.jpg" class="lsb-preview" data-lsb-group="gallery1">
							<img src="../../assets/images/mcu.jpg" />
						</a>
						<a href="../../assets/images/avengers-age-of-ultron.jpg" class="lsb-preview" data-lsb-group="gallery1">
							<img src="../../assets/images/avengers-age-of-ultron.jpg" />
						</a>
						<a href="../../assets/images/wallpaper4.jpg" class="lsb-preview" data-lsb-group="gallery1">
							<img src="../../assets/images/wallpaper4.jpg" />
						</a>
						<a href="../../assets/images/avengers-age-of-ultron.jpg" class="lsb-preview" data-lsb-group="gallery1">
							<img src="../../assets/images/avengers-age-of-ultron.jpg" />
						</a>
				</div>

			</div>

			<br><br>

			<div class="col-md-5"></div>
			<div class="col-md-4 mx-auto">
				<ul class="pagination">
					<li class="page-item disabled">
						<a class="page-link" href="#">&laquo;</a>
					</li>
					<li class="page-item active">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">4</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">5</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">&raquo;</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
	<!-- </center> -->
</main>

<!-- Main Content Ends -->

<!-- Back To Top Button  -->
<a href="#" id="scroll" style="display: none;"><span></span></a>
