<main style="text-align: center;">
       <div class="container">

       <h2>Welcome, {{uname}}</h2>

        <div>
                <button type="submit" class="btn btn-primary" id="userwallpaper" value="logout" (click)="userwallpaperonly(uemail)">Uploaded Wallpapers</button>           
                        </div>
                
        <div>
                <br>
        <button type="submit" class="btn btn-primary" id="join" value="logout" (click)="logout()">Log Out</button>
            </div>

<div class="main-container">
<div  *ngFor="let u of userimages">
        <!-- <div class="row"> -->
        <div class="column col-lg-4 col-md-6 col-sm-12 mt-3 ima">
                <a href="#" class="lsb-preview" data-lsb-group="gallery1" >
                    <img src="{{u.imageurl}}" class="img-fluid"  />
                    <p>{{ u.imagename }}</p>
                </a>
        </div>
        <!-- </div> -->


</div>
</div>
    




     
</div> 
</main>