<main>
    <div style="text-align: center;">
        <div class="jumbotron">
            <h1 class="display-3">About Us</h1>
            <p class="lead">To provide variety in wallpapers we developed the “Infinity Wallpapers”, a web application. 
            <hr class="my-4">
            <p>The attractive wallpaper can make the day of any person and thus this platform is provided.</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" [routerLink]="['/register']" role="button">Join InfinityWallpapers for Free</a>
            </p>
        </div>

        <form action="licence.html" method="post">
            <input type="submit" class="btn btn-success" name="signin" value="Licence" />
        </form>
        <br>

    </div>
</main>
<br><br><br><br>
<!-- Main Content Ends -->
<br>

