<br><br><br>
<div style="text-align: center;">
	<h1>Forgot Password</h1>
</div>

<main>
	<div class="container" style="margin-top: 50px;">
			<fieldset>
			<form (submit)="sendMail($event)">
				<div class="form-group">
					<label for="email">Email address</label>
					<input type="email" class="form-control" id="check_email" aria-describedby="emailHelp" placeholder="Enter email" required>
					<label for="email" id="error_email" style="color: red; display: block;"></label>
					<!-- <small id="verify_label" class="form-text text-muted">We'll send you a verification link and once you verify, you will be able to reset your password.</small> -->
					<small id="verify_label" class="form-text text-muted">We'll send you a One-Time-Password (OTP) on the provided email if it exists .</small>
				</div>
				<button type="submit" class="btn btn-primary">
					<span id="spinner_button"></span>
					Get Password
				</button>
			</form>
			
			</fieldset>
		</div>
</main>

<br><br>
