<main>
    <div style="text-align: center; ">
        <div class="jumbotron">
            <h1 class="display-3">We'd love to hear from you.</h1>
            <p class="lead">whether it's a question or a suggestion or anything else, our support team is ready to answer all your questions.</p>
            <hr class="my-4">
            <!-- <p>Our Current Response Time is about <strong>10 Minutes</strong>.</p> -->
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="feedback" role="button">Give FeedBack</a>
                <!-- <a class="btn btn-primary btn-lg" href="contact_form.html" role="button">Get In Touch</a> -->
            </p>
        </div>

        <!-- <h2>Our Office Locations</h2> -->
        <h2>Contact Us At</h2>
        <div class="container row" style="column-gap : 15px;">
            <!-- <div style="align-content: center;"> -->
            <div class="column col-lg-6 col-md-6 col-sm-12 mt-3">
                <h2>Ahmedabad</h2>
                <p>Kaivanna Complex, Ahmedabad Central, Near Ambawadi Circle, Ahmedabad, Gujarat 380006</p>
                <p>Office : <a href="tel:079-66606660">079-66606660</a></p>
            </div>
            <div class="column col-md-6 col-sm-12 mt-3" style="float: none;">
                <h2>Vadodara</h2>
                <p>Sarabhai Road, Near Genda Circle, Vadodara, Gujarat 390007 </p>
                <p>Office : <a href="tel:0265-666-6600">0265-666-6600</a></p>
            </div>
            <div class="column col-md-6 col-sm-12 mt-3" style="float: none;">
                <h2>Mumbai</h2>
                <p>Building #3, Chinchpokli Bandar, Khau-Gali, Mumbai 400011</p>
                <p>Office : <a href="tel:022-666-6600">022-666-6600</a></p>
            </div>

        <!-- </div> -->
        </div>
    </div>
    
</main>

